<!-- This includes the boiler pate for the views template, Also consists of navbar and footer -->
<% layout('layouts/boilerplate.ejs') %>

<div class="container my-5">
    <div class="row">
        <div class="col-md-6 offset-md-3 col-xl-4 offset-xl-4">
            <div class="card shadow" style="background-color: rgba(216, 216, 216, 0.3);">
            <div class="text-center mt-2">
                <img src="https://images.unsplash.com/photo-1593085512500-5d55148d6f0d?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8M3x8Y2FydG9vbnxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=600&q=30" 
                alt="Login imager" class="card-img-top" class="img-fluid"
                style="max-width: 200px; max-height: 200px; border-radius: 50px; border: 3px solid black">
            </div>
            <div class="card-body">
                <h5 class="card-title text-center text-muted">LOGIN</h5>
                <form class='needs-validation' action="/login" method="POST" novalidate>
                    <div class="mb-3">
                        <label class="form-label" for="userId">Username: </label>
                        <input class="form-control" type="text" id="userId" name="username" autofocus required>
                        <div class="valid-feedback">
                            looks Good!
                        </div>
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="pass">Password: </label>
                        <input class="form-control" type="password" id="pass" name="password" required>
                        <div class="valid-feedback">
                            looks Good!
                        </div>
                    </div>
                    <div class="d-grid">
                        <button class="btn btn-success px-4">LogIn</button>
                    </div>
                </form>
                </div>
            </div>
        </div>
    </div>
</div>