<% layout('layouts/boilerplate.ejs') %>
<div class="row">
    <div class="col-md-6 offset-3">
        <div class="alert alert-danger" role="alert">
            <h4 class="alert-heading text-center"><%= err.message %> </h4>
            <p class="text-center">Try Again :(</p>
        </div>
    </div>
</div>